<!DOCTYPE html>

<h1>
  List of all movies
</h1>

<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
    </th>
  </tr>

<tr>
    <td>
      18
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/biejlC9yx8W66KHrD5tp9YiSqmV.jpg" style="width:250px;">
    </td>

    <td>
      One Flew Over the Cuckoo&#39;s Nest
    </td>

    <td>
      1975
    </td>

    <td>
      

      Miloš Forman
    </td>

    <td>
      <a href="/movies/18">
        Show details
      </a>
    </td>
  </tr>
