<h1>Director #<%= @the_director.id %> details </h1>

<a href="/directors">Go back</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    George Lucas
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    1944-05-14
  </dd>
